<mat-card routerLink="">
    <mat-card-header>
        <mat-card-title>
            <mat-icon>whatshot</mat-icon>
            This week top event
        </mat-card-title>
        <mat-card-subtitle>
            <div>
<!--                {{event.startDate | date: 'MMM d, y, h:mm a'}}-->
            </div>
            <div class="subheading-1">
<!--                {{event.name}}-->
            </div>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
<!--        <img [src]="event.thumbnail">-->
    </mat-card-content>
    <mat-card-footer>
        <div (click)="learnMoreClick()">Learn more</div>
    </mat-card-footer>
</mat-card>
