<div class="toolbar-user" (furyClickOutside)="onClickOutside()" fxFlex="grow">
    <button class="button" mat-button (click)="toggleDropdown()" [class.open]="isOpen" fxFlex="grow">
    <span fxLayout="row" fxLayoutAlign="start center">
      <img class="avatar" [src]="picture">
      <span class="name" fxHide fxShow.gt-sm>{{user.firstName}} {{user.lastName}}</span>
      <mat-icon class="icon" fxHide fxShow.gt-sm>keyboard_arrow_down</mat-icon>
    </span>
  </button>

  <div class="dropdown" [class.open]="isOpen">
    <div class="content">
      <div class="list">
        <div class="list-item" matRipple (click)="goToProfile()">
          <mat-icon class="list-item-icon">portrait</mat-icon>
          <span>Profile</span>
        </div>
        <div class="list-item" matRipple (click)="goToMyBookings()">
          <mat-icon class="list-item-icon">book</mat-icon>
          <span>My Bookings</span>
        </div>
        <div class="list-item" matRipple (click)="goToMyReservations()">
          <mat-icon class="list-item-icon">event_available</mat-icon>
          <span>My Reservations</span>
        </div>
        <div class="list-item" matRipple *ngIf="user.type === OWNER">
          <mat-icon class="list-item-icon">event_available</mat-icon>
          <span>My Estates</span>
        </div>
        <div class="list-item" matRipple *ngIf="user.type === ORGANIZER">
          <mat-icon class="list-item-icon">event_available</mat-icon>
          <span>My Events</span>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item" matRipple (click)="logout()">
          <mat-icon class="list-item-icon">exit_to_app</mat-icon>
          <span>Logout</span>
        </div>
      </div>
    </div>
  </div>
</div>
