mat-card {
  position: sticky;
  top: 25px;
  height: 88vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: column;

    .form-row {
      display: flex;
      flex-direction: row;
      mat-form-field {
        padding: 4px;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 540px) {
  .sm-w-100 {
    width: 100% !important;
  }
}

@media (min-width: 541px) {
  .m-w-fc {
    flex-grow: 1;
    flex-basis: 300px;
    align-self: start;
    position: sticky;
    top: var(--offset);
  }
}
