<mat-card>
    <mat-card-header>
        <mat-card-title>{{estate.name}}</mat-card-title>
        <div class="location" fxLayout="row">
            <mat-icon>location_on</mat-icon>
            <div>
                {{estate.address | address}}
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <img [src]="estate.pictures ? estate.pictures[0] : 'assets/img/estate_default.jpeg'">
        <div class="description fade">{{estate.description}}</div>
    </mat-card-content>
    <mat-card-footer>
        <div class="footer-item" fxLayout="row">
            <mat-icon>hotel</mat-icon>
            <div> {{estate.numOfBedrooms}}</div>
        </div>
        <div class="footer-item" fxLayout="row">
            <mat-icon>home</mat-icon>
            <div> {{estate.area | number: '1.1-1'}}</div>
            <div>sq. m</div>
        </div>
        <div>{{estate.rentPrice}}$/night</div>
    </mat-card-footer>
</mat-card>
