<fury-page-layout mode="card">
    <fury-page-layout-content>
        <fury-card>
            <fury-card-content>
                <div class="carousel-container">
                    <fest-finder-carousel [slides]="estate.pictures.length > 0 ? pictures : ['./assets/mock/default-ff.svg']"></fest-finder-carousel>
                </div>
                <div class="event-data" fxLayout.lt-md="column" fxLayout.gt-md="row">
                    <div class="data-container" fxLayout.lt-sm="column">
                        <div class="user-data">
                            <fest-finder-user-info-card [user]="estate.owner"></fest-finder-user-info-card>
                        </div>
                        <div class="event-data-container">
                            <fest-finder-estate-data-card [estate]="estate"></fest-finder-estate-data-card>
                        </div>
                    </div>
                    <div class="data-container description-container">
                        <mat-card>
                            <span class="description-header">Description:</span>
                        {{estate.description}}</mat-card>
                    </div>
                </div>
            </fury-card-content>
        </fury-card>
    </fury-page-layout-content>
</fury-page-layout>

