.bluedot {
  height: 8px;
  width: 8px;
  background-color: royalblue;
  border-radius: 50%;
  display: inline-block;
}
.reddot {
  height: 8px;
  width: 8px;
  background-color: darkred;
  border-radius: 50%;
  display: inline-block;
}
.orangedot {
  height: 8px;
  width: 8px;
  background-color: darkorange;
  border-radius: 50%;
  display: inline-block;
}
.greendot {
  height: 8px;
  width: 8px;
  background-color: darkgreen;
  border-radius: 50%;
  display: inline-block;
}
.age-rating {
  height: 14px;
  width: auto;
  border-radius: 3px;
}
