.bluedot {
  height: 8px;
  width: 8px;
  background-color: royalblue;
  border-radius: 50%;
  display: inline-block;
}
.reddot {
  height: 8px;
  width: 8px;
  background-color: darkred;
  border-radius: 50%;
  display: inline-block;
}
.orangedot {
  height: 8px;
  width: 8px;
  background-color: darkorange;
  border-radius: 50%;
  display: inline-block;
}
.greendot {
  height: 8px;
  width: 8px;
  background-color: darkgreen;
  border-radius: 50%;
  display: inline-block;
}


:host {
  width: 400px;
  height: 600px;
  margin: 8px;
}

mat-card {
  height: 100%;
  mat-card-header {
    justify-content: space-between;

    .location {
      display: flex;
      width: 40%;
    }
  }
  mat-card-footer {
    padding: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .age-rating {
      height: 30px;
      width: auto;
      border-radius: 3px;
    }

    .available-seats {
      display: flex;
      align-items: center;
    }
  }
  mat-card-content {
    img {
      height: 207px;
      width: 100%;
      object-fit: contain;
      background: #2B2A29;
    }
    .description {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
