<mat-card (click)="eventClick()">
    <mat-card-header>
        <mat-card-title>
            <div class="{{dotColor}}"></div>
            {{event.name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{event.startDate | date: 'MMM d, y, h:mm a'}}
        </mat-card-subtitle>
        <div class="location" fxLayout="row" fxFlex="grow">
            <mat-icon>location_on</mat-icon>
            <div>
                {{event.address | address}}
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <img [src]="thumbnail">
        <div class="description fade">{{event.description}}</div>
    </mat-card-content>
    <mat-card-footer>
        <img class="age-rating" [src]="event.ageRestrictions | pegiRating"/>
        <span class="available-seats">
            <mat-icon>event_seat</mat-icon>
             <span>
                {{event.availableSeats > 100 ? '100+' : event.availableSeats}}
            </span>
        </span>
    </mat-card-footer>
</mat-card>
