<fury-loading-indicator></fury-loading-indicator>
<mat-dialog-content>
    <div class="reservation-container">
        <img [src]="event.thumbnail ? thumbnail : 'assets/mock/default-ff.svg'">
        <div class="reservation-info">
            <div class="names">{{user.firstName}} {{user.lastName}}</div>
            <div class="title event-name">{{event.name}}</div>
            <div class="start-time mat-subheading-1">
                Start time:
                <div class="time">{{event.startDate | date: 'MMM dd yyyy hh:mm'}}</div>
            </div>
            <div class="pictures">
                <img class="stamp" src="assets/img/icons/svg/reservation-stamp.svg">
                <div class="qr-code" *ngIf="qrVisible">
                    <div>QR code for your reservation:</div>
                    <qrcode [qrdata]="reservationUrl" [width]="80" [allowEmptyString]="true" [errorCorrectionLevel]="'M'"></qrcode>
                    <div>Enjoy your time!</div>
                </div>
                <div class="qr-code" *ngIf="!qrVisible">
                    <div>Click here to retrieve your QR code:</div>
                    <span class="material-icons-outlined clickable" (click)="toggleQrCode()">qr_code</span>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>CLOSE</button>
</mat-dialog-actions>
