<fury-loading-indicator></fury-loading-indicator>
<mat-dialog-content>
    <div class="reservation-container">
        <img [src]="event.thumbnail">
        <div class="reservation-info">
            <div class="names"></div>
            <div class="event-name"></div>
            <div class="start-time">
                Start time:
                <div class="time">{{event.startDate | date: 'yyyy-MMM-dd hh:mm'}}</div>
            </div>
            <div class="pictures">
                <img src="assets/img/icons/svg/reservation-stamp.svg">
                <div>
                    <div class="subheading">QR code for your reservation:</div>
                    <div></div>
                    <div class="subheading">Enjoy your time!</div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>PROCEED RESERVATION</button>
</mat-dialog-actions>
