<div class="banner">
    <div class="banner-content">
        <h4 class="banner-header">
            <div>
                <ul class="flip4">
                    <li>Find your fest.</li>
                    <li>Find your place.</li>
                    <li>Find your people.</li>
                    <li>FestFinder.</li>
                </ul>
            </div>
        </h4>
        <div class="banner-legend">With this app you can plan and organise your trip easily. Just find the event you’d love to visit, make a reservation and we suggest you the most suitable place to stay.
            Now you can travel with one click.
            <div class="find-event" (click)="goToEvents()">Find an interesting event!</div>
        </div>
    </div>
</div>
