@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;

  fest-finder-dashboard-banner {
    display: flex;
    height: 30%;
  }
  .dashboard-content {
    display: flex;
    flex-direction: row;
    height: 100%;

    .top-event-container {
      display: flex;
      width: 50%;

      fest-finder-top-event-card {
        width: 100%;
      }
    }

    .event-suggestion-container {
      width: 50%;
      .empty-suggested-events {
        display: flex;
        justify-content: center;
        padding-top: 50%;
      }
    }
  }

}
