@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;

  fest-finder-dashboard-banner {
    display: flex;
    height: 30%;
  }
}
