mat-card {
  margin: 4px;
  cursor: pointer;
  &:hover {
    background: #e3e3e3;
  }

  mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    img {
      height: 153px;
      width: 272px;
    }
  }
}
